<div id="page-cart" class="page">
    <%include("/mall/common/head.html"){}%>
    <div class="content">
        <div class="infinite-scroll native-scroll" data-distance="100">
            <div class="list-block">
                <ul class="list-container">
                </ul>
            </div>
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader">
                <div class="preloader">
                </div>
            </div>
        </div>
    </div>
    <%include("/mall/common/navigator.html"){}%>
</div>